*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Arial', sans-serif;
}
.container{
    max-width : 100vw;
    max-height: 100vh;
    margin : auto;
    padding:20px;
    
}
.title{
    text-align :center;
    align-items: center;
    padding-top:150px;
    font-size:60px;
    color:rgb(149, 123, 29);
}
body{
    text-align: center;
    align-items:center;
    background: rgb(255, 241, 218);
}
.Navbar{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    gap:30px;
    padding:15px 30px;
    color:white;
    font-size:20px;
}
.Search {
  position: relative;
  width: 500px;
  margin: 50px auto;       /* center horizontally */
}

.Search input {
  width: 100%;
  padding: 12px 45px;      /* leave space for icons */
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Common styles for both icons */
.Search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 18px;
}

/* Google icon on the left */
.Search .bi-google {
  left: 15px;
}
.Search .bi-qr-code-scan {
  right: 50px;
  cursor:pointer;
}
.Search .bi-search {
  right: 15px;
  cursor: pointer;
}
.Search button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    gap: 5px;
}
.btn-container button {
    text-align: center  ;
    padding:20px 20px;
    align-items:center;
    border-radius: 100%;
    color: white;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
    
    outline: none;
}
.btn-container i{
    position: absolute;
    color: #777;
    font-size: 18px;
    padding-top: 10px;

}
.btn-container .bi.bi-plus-circle {
    color: #777;
    font-size: 18px;
    
    padding-top: 10px;
}
.footer{
    text-align: center;
    align-items: flex-end;
    padding-top:150px;
    font-size:20px;
    color:rgb(149, 83, 29);
}
.p{
    
    color: rgb(15, 13, 13);
    font-size: 14px;
    padding-top: 0px;
    text-align: center;
    align-items: center;

}